.card {
  margin: 30px 15px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 300px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  overflow:hidden;
  transition: all .2s;
}

.card:hover {
  transform: scale(1.05) translateY(-.5rem);
  box-shadow: 0 4px 8px rgba(black, .5)
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: inherit;
}

.card__image {
  margin: 10px;
  width: calc(100% - 20px);
  height: 120px;
  max-height: 250px;
  object-fit: cover;
}

.card__title {
  font-size: 1.2rem;
  color: rgb(90, 41, 41);
  margin: 10px;
  max-height: 92px;
  overflow:hidden;
}

.card__author {
  font-size: 0.8rem;
  margin: 20px 10px;
  max-height: 15px;
  overflow:hidden;
}